
h4.panel-title a:before {

	padding: 10px;
	margin-right:30px;
	background-color:#34495e;
	color: #fff;

}
h4.panel-title a {
	text-decoration:none;
}
h4.panel-title {
	font-family: 'Oswald', sans-serif;
	line-height:30px;
}
.panel-primary>.panel-heading {
	padding:10px 15px 10px 0;
	height:50px;
	color:#fff;
}
