

body { background: #fff; font: 12px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; color: #666; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; }
.container { position: relative; width: 960px; margin: 0 auto; padding: 0; z-index:100; }
