/* override bootstrap styles */
@import url('http://fonts.googleapis.com/css?family=Oswald:300,400:latin,latin-ext');


.navbar-form input, .form-inline input {
  width:auto;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 0px;
	 border-top: none !important; 
  border-bottom: none !important;
}




.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size:12px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
}
  
.btn-lg {
  font-size: 9px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}

/***********************
  SHARP BUTTONS
************************/
.sharp {
  border-radius:0;
}

/***********************
  CUSTON BTN VALUES
************************/

.btn {
    padding: 10px 10px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}


body {
  padding-top:0px;
  color:#646464;
  background-color:#fff;

}
p {
    margin: 0px 0px 0px;
}

h1,h2,h3,.highlight,.navbar a,#masthead h4 {
  font-family: Calibri;
}

footer {
	background:#036DA2;
  background: -moz-linear-gradient(center top ,#036DA2 30%, #0281C0 100%);
  background: -webkit-linear-gradient(center top ,#036DA2 30%, #0281C0 100%);
  background: -o-linear-gradient(center top ,#036DA2 30%, #0281C0 100%);
   background: linear-gradient(center top ,#036DA2 30%, #0281C0 100%);
  color:#fff;
  font-size:11px;
  padding:20px;
 
}

ul.unstyled {
	list-style:none;
	padding:0;
	color:#784136;
}


#masthead {
  min-height:199px;
  background-color:#000044;
  color:#aaaacc;
}

#masthead h1 {
  font-size: 55px;
  line-height: 1;
  color:#fefeff;
  margin-top:50px;
}

#masthead .well {
  margin-top:31px;
  background-color:#111166;
  border-color:#000022;
  color:#efefff;
  min-height:127px;
}

#topPanel {
  padding-top:0px;
  padding-left:22px;
  padding-right:22px;
}
#topPanel .panel-body {
  padding-top:0px;
}

.navbar.affix {
  position:fixed;
  top:0;
  width:100%;
}

.top-spacer {
  background-color:#ffffff;
  height:40px;
}



a {
	color:#223344;
}
 a:hover {
  color:#46759B;
  /*text-decoration:none;*/
}

.icon-bar {
  background-color:#fff;
}

@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 80px;
  }
}

.navbar-bright {
  background-color:#111166;
  color:#fff;
  margin-bottom: 0;
  border-width: 0;
}

.navbar-bright a, .navbar-bright .navbar-brand, #masthead h4 {
  color:#ccccdd;
  font-size:14px;
  text-transform: uppercase;
  letter-spacing:.08em;
}

.navbar-bright li > a:hover {
  background-color:#000044;
}

.dropdown-menu {
  min-width: 250px;
}

.caret {
  color:#fff;
}

.navbar-toggle {
  color:#fff;
  border-width:0;
}

.navbar-toggle:hover {
  background-color:#fff;
}

.panel {
  border-color:transparent;
  border-radius:0;
}

.thumbnail {
  margin-bottom:8px;
  position:relative;
  overflow:hidden;
}

.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(66, 139, 202, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}

.img-container {
  overflow:hidden;
  height:170px;
}

.img-container img {
  min-width:280px;
  min-height:180px;
  max-width:380px;
  max-height:280px;
}

.txt-container {
  overflow:hidden;
  height:100px;
}

.panel .lead {
  overflow:hidden;
  height:90px;
}

.label-float{
  margin:0 auto;
  position: absolute;
  top: 0;
  z-index: 1;
  width:100%;
  opacity:.9;
  padding:6px;
  color:#fff;
}

#features {
	text-align:center;
}

#features img {
	margin: 0 0 1px;
}

.navbar-brand {
	padding: 13px 15px;
}

#mycarousel {
	margin-top:40px;
}

.carousel-control.left {
    background-image: linear-gradient(to right, rgba(209, 209, 209, 0.5) 0px, transparent 100%);
    background-repeat: repeat-x;
}

.carousel-control.right {
    right: 0px;
    left: auto;
    background-image: linear-gradient(to right, transparent 0px, rgba(209, 209, 209, 0.5) 100%);
    background-repeat: repeat-x;
}

#mycarousel .item { height:250px; }

#slide1 {
	background:center;
}

/* Image Hover Profil */

.hovereffect {
  width: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  background-color:#fff;
  cursor: default;
  padding-top:10px;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 50px 20px;
}

.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hovereffect:hover img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  overflow: hidden;
  padding: 0.5em 0;
  background-color: transparent;
}

.hovereffect h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}

.hovereffect:hover h2:after {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect a, .hovereffect p {
  color: #000;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

.hovereffect:hover a, .hovereffect:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/* end hover profil */

.icon-zoom-in
{
  position:relative;
  left:23px;
  top:-8px;
  z-index:999;
}
.input-append input
{
  height:30px;
  padding-left:25px;
}




.panel{display:block;position:relative;background-color:#fff}
.panel>.content,.panel>.heading{display:block;position:relative;color:#1d1d1d}
.panel>.heading{padding:.625rem 0;color:#fff;background-color:#1ba1e2;cursor:default;vertical-align:middle;z-index:2;height:2.625rem;box-shadow:-1px 6px 6px -6px rgba(0,0,0,.35);font:500 1.125rem/1.1 "Segoe UI","Open Sans",sans-serif,serif;-ms-user-select:none;user-select:none}
.panel>.heading,.tile{-moz-user-select:none;-webkit-user-select:none}.dataTable tfoot td,.dataTable tfoot th,.dataTable thead td,.dataTable thead th{color:#52677a;border-color:transparent;line-height:100%;text-align:left;font-style:normal}.panel.collapsible>.heading,.rating,.rating .star,.slider .marker,.tile,.tile-big,.tile-large,.tile-small,.tile-super,.tile-wide,.treeview li{cursor:pointer}.panel>.heading>.title{margin-left:.625rem}.panel>.heading>.icon+.title{margin-left:3.625rem}.panel>.heading>.icon{position:absolute;background-color:#1b6eae;top:0;left:0;bottom:0;vertical-align:middle;height:2.625rem;width:2.625rem;text-align:center;padding:.625rem}.panel>.content{padding:.625rem;background-color:#e8f1f4;z-index:1;font-size:.875rem}.panel.collapsible>.heading:before{content:"\2212";display:block;position:absolute;top:50%;margin-top:-1.3rem;right:.625rem;color:inherit;vertical-align:middle;font-size:2rem}.panel.collapsed>.heading:before{content:"\002b"}.panel.collapsed>.content{display:none}.panel.alert>.heading,.panel.danger>.heading,.panel.error>.heading{background-color:#ce352c}.panel.warning>.heading{background-color:#fa6800}.panel.success>.heading{background-color:#60a917}
    
.btn-twitter {background-color:#4099FF;color:#fff;}
.btn-facebook {background-color:#3B5998;color:#fff;}
.btn-google-plus {background-color:#d34836;color:#fff;}

.btn-twitter:hover {background-color:#3088FF;color:#62BBFF;}
.btn-facebook:hover {background-color:#2A4998;color:#4C6BBA;}
.btn-google-plus:hover {background-color:#C23836;color:#E45A58;}
